{% set first_event = table.rows.first().columns.first().entry %}
<thead>
  <tr>
    <th colspan="7" class="center">
      <h4>{{ first_event.start|date('F Y') }}</h4>
    </th>
  </tr>
  <tr>
    <th>{{trans('websemantics.module.calendar::calendar.days.monday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.tuesday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.wednesday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.thursday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.friday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.saturday')}}</th>
    <th>{{trans('websemantics.module.calendar::calendar.days.sunday')}}</th>
  </tr>
</thead>
